body{
   background-color: var(--colLightAndDark);
}
.home,
.creedz,
.cadence,
.codelab,
.applexnike,
.skrex{
   .header{
      &.hide{
         .header__top{
            @media (min-width:$tablet){
               top: toRem(-110);
            }
         }
      }
   }
}
.bookacall-wrapper{
   .footer{
      .footer__top{
         background-color: var(--colDarkAndLight);
         color: var(--colLightAndDark);
         .menu{
            &__link {
               color: var(--colLightAndDark);
            }
         }
         .footer__send-email{
            background-color: var(--inputBgBookacall);
            input{
               color: var(--colLightAndDark);
            }
            button{
               path{
                  fill: var(--colLightAndDark);
               }
            }
         }
      }
      .footer__bottom{
         background-color: var(--colLightAndDark);
         color: var(--colDarkAndLight);
         .media{
            &__frame{
               @media (any-hover: hover){
                  &:hover{
                     background-color: var(--colDarkAndLight);
                     path{
                        fill: var(--colLightAndDark);
                     }
                     &.stroke{
                        path{
                           stroke: var(--colLightAndDark);
                        }
                     }
                  }
               }
               &::after{
                  border-color: var(--colDarkAndLight);
               }
               path{
                  fill: var(--colDarkAndLight);
               }          
            }
            .stroke{
               path{
                  stroke: var(--colDarkAndLight);
                  fill: transparent;
               }
            }
         }
      }
   }
}
.portfolio-page-wrapper,
.bookacall-wrapper,
.bookacall,
.notfound,
.policy{
   .preloader{
      background-color: #FDFDFB;
      &__star{
         &_1{
            path{
               fill: #101010;
            }
         }
         &_2{
            path{
               fill: #FDFDFB;
            }
         }
         &_3{
            path{
               fill: #101010;
            }
         }
      }
   }
   .header{
      &__logo{
         svg{
            &:nth-child(1){
               path{
                  fill: var(--colDarkAndLight);
               }
            }
         }
      }
   }
   .online-button__icon{
      span{
         background-color: var(--colDarkAndLight);
      }
   }
}

html,body{
 &::-webkit-scrollbar {
    width: 0;
 }
 }
 
body.cadence-html .progress-bar__filled {
   background-color: var(--colGreen);
 }
body.creedz-html .progress-bar__filled {
   background-color: var(--colRed);
 }
body.codelab-html .progress-bar__filled {
   background-color: var(--colBlue);
 }
body.skrex-html .progress-bar__filled {
   background-color: var(--colOrange);
 }
 body.applexnike-html .progress-bar__filled {
   background-color: var(--colApplexnike);
 }
 body.portfolio-html .progress-bar {
   display: none;
 }