@use "sass:math";

@import "base/mixins.scss";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
// &display=swap - добавить при подключении через плагин
// @import "base/fonts.scss";

@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap");
@font-face {
   font-family: 'SF Pro Display';
   src: url('../../app/fonts/SF-Pro-Display-Regular.otf') format('opentype'); /* Format can be omitted in many cases */
   font-style: normal;
}
@font-face {
   font-family: 'SF Pro Display Medium';
   src: url('../../app/fonts/SF-Pro-Display-Medium.otf') format('opentype'); /* Format can be omitted in many cases */
   font-style: normal;
}
@font-face {
   font-family: 'SF Pro Display bold';
   src: url('../../app/fonts/SF-Pro-Display-Semibold.otf') format('opentype'); /* Format can be omitted in many cases */
   font-style: normal;
}
@font-face {
   font-family: 'SF Pro Display Light';
   src: url('../../app/fonts/SF-Pro-Display-Light.otf') format('opentype'); /* Format can be omitted in many cases */
   font-style: normal;
}

/* site settings */
:root{
   
// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
--font-family: 'SF Pro Display';
--fSFM: 'SF Pro Display Medium';
--fSFL: 'SF Pro Display Light';
--fSFSB: 'SF Pro Display bold';
--font-wieght: 400;

--font-size: 1.125rem; // где 18(px) - размер шрифта по умолчанию

// Default colors
--main-text-color: #101010;
--primary: #F1212F;
--colRed: #F1212F;
--colGreen: #00825B;
--colBlue: #3E21F1;
--colOrange: #EE4813;
--colApplexnike: #5897C3;
//========================================================================================================================================================
--colBg3d: #F80000;
//========================================================================================================================================================
--colLightAndDark: #FDFDFB;
--colDarkAndLight: #101010;
--colScrollBar: #F1212F;
--headerBorder: rgba(29, 29, 31, 0.20);
--rowToolsTitleLine: #cccccc;
--inputBg: #F6F6F6;
--placholderColor: #CBCBD2;
--portfolioAcctiveArrow: rgba(242, 239, 238, 0.30);
--rowToolsTitleLine: #cccccc;
--colDifferentText: #52606D;
--pricingText: #C0C0C0;
--inputBgBookacall: #161616;
--colHeaderMode: rgba(255, 255, 255, 0.50);
--colEmailBg: #F6F6F6;
}
[data-theme="dark"] {
--main-text-color: #E0E0E2;
--colLightAndDark: #101010;
--colDarkAndLight: #FDFDFB;
--headerBorder: rgba(224, 224, 226, 0.20);
--rowToolsTitleLine: #4A4A4A;
--inputBg: #161616;
--placholderColor: #393942;
--portfolioAcctiveArrow: #101010;
--rowToolsTitleLine: #4A4A4A;
--colDifferentText: #FDFDFB;
--pricingText: #747474;
--inputBgBookacall: #F6F6F6;
--colHeaderMode: rgba(13, 13, 13, 0.50);
--colEmailBg: #1c1c1c;
}

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================
$maxWidth: 1920;
$minWidth: 393;
// Ширина ограничивающего контейнера
$maxWidthContainer: 1756;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 16;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding * 2;

// Брейк-поинты
$pc: em($containerWidth);  // ПК, ноутбуки, некоторые планшети в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";


// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
// Приклепляет footer к снизу
// .wrapper {
// 	min-height: 100%;
// 	display: flex;
// 	flex-direction: column;
// 	overflow: hidden;
// 	// Прижимаем footer
// 	> main {
// 		flex: 1 1 auto;
// 	}
// }

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*="__container"]{
	max-width: toRem($containerWidth);
	margin: 0 auto;
	padding: 0 toRem($containerPadding);
   @media (min-width:$mobile){
       padding: 0 toRem(30);
   }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
@import "base";
@import "global";

// Подключение стилей общих элементов проекта
@import "common";

@import "pages/header";
@import "pages/footer";

//========================================================================================================================================================
// Pages
@import "pages/home";
@import "pages/bookacall";
@import "pages/portfoliopage";
@import "pages/privacy";
@import "pages/usecases";
@import "notfound";